<div class="animated fadeIn">
<img class="header" src="../../../assets/baner33.png" alt="">

<div class="section">
    <div class="cont1">
        <div class="title">
            <img src="../../../assets/title-small-image.png" alt="">
            <h1>Contacto</h1>
        </div>
        <div class="container">
            <div class="orden ">
            
                <div class="">
                    <i class="fas fa-phone"></i>
                
                </div>
                <div class="">
                    <h3>Haz tu orden</h3>
                    <h4>283 7464</h4>
                </div>
                
                
                </div>
                
                <div class="row">
                    <div class="col">
                        <h1>Direccion</h1>
                        <p>234 ramirez castillo <br> San Borja, lima, Peru </p>
                        <p>www.pastropizza.pe</p>
                        <p>info@pastropizza.com</p>
                    </div>
                    <div class="col">
                        <h1>Horario de atencion</h1>
                        <p> Lunes - viernes <br> 8am - 11pm</p>
                        <p>Sabados <br> 8am - 1 am</p>
                        <p>Domingos <span>(cerrado)</span></p>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Email</label>
                                <input type="email" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Password</label>
                                <input type="password" class="form-control" id="inputPassword4">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="d-grid gap-2">
                        
                        <button class="btn btn-primary" type="button">Button</button>
                        </div>
                        </div>
                        </div>
        </div>




    </div>




</div>



</div>

<app-footer></app-footer>
