<div class="animated fadeIn">
<img class="header" src="../../../assets/baner33.png" alt="">

<div class="section">
    <div class="cont1">
        <div class="title">
            <img src="../../../assets/title-small-image.png" alt="">
            <h1>Menu</h1>
        </div>
        <div class="container">
            <div class="container pizza">
                <h1>Nuestras Pizzas</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4 pizzas">
                    <div class="col" *ngFor="let pizza of pizzas">
                        <div class="card">
                            <img [src]="pizza.img" class="card-img-top" [alt]="pizza.nombre">
                            <div class="card-body">
                                <h5 class="card-title">{{ pizza.nombre }}</h5>
                                <p class="card-text">{{ pizza.descripcion}}.</p>
                                <h2>{{ pizza.precio }}</h2>
                                <span class="badge bg-primary">{{pizza.categoria1}}</span>
                                <span class="badge bg-primary">{{ pizza.categoria2 }}</span>
                                <span class="badge bg-primary">{{ pizza.categoria3 }}</span>
                            </div>
                        </div>
                    </div>



                </div>

            </div>

        </div>




    </div>




</div>

</div>



<app-footer></app-footer>
