.header {
    width: 100%;
}
.cont1 img {
 
        width: 100%;
  
    
}
.cont1 h1 {
    
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    margin-top: 14px;
    margin-left: 10px;
    color: white;
    font-weight: 400;
    
}
.title {
    background-color:   #d8252f;
    display: flex;
    justify-content: center;
    padding: 15px;
    
 
    

}
.title img {
    width: 70px;
}
.container h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 400;

}
.container p {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
@media (min-width: 700px) { 

    .container img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }
    .container p {
        margin-bottom: 10px;
        font-size: 30px;
        color: #444;

    }
    .container h3 {
    font-weight: 400;
    color: #000;
    line-height: 1;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
        
    }
    .cont1 h1 {
    
        font-family: 'Oswald', sans-serif;
        font-size: 60px;
        margin-top: 6px;
        margin-left: 10px;
        color: white;
        font-weight: 400;
        
    }
    div .title {
        background-color:   #d8252f;
        display: flex;
        margin-left: 130px;
        padding: 30px;
        width: 460px;
      
     
        
    border-right: 30px solid #b11f27;
        
     
        
    
    }
    .section{
        margin-top: -500px;
    }
    .header {
        position: relative;
        top: -500px;
    }


    .title {
        background-color:   #d8252f;
        display: flex;
        justify-content: center;
        position: relative;
        top: -60px;
       

}

}
.blog h2 {
    font-family: 'Oswald', sans-serif;
    
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

}
@media only screen and (min-width: 768px) { 

.blog h2 {
    font-family: 'Merriweather', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;

}
.blog img {
    
    width: 800px;
}
.blog {
    margin-bottom: 90px;
}

.blog p {
    
    font-size: 26px;
    margin-top: 50px;
    font-weight: 300;
    margin-left: 150px;
    margin-right: 150px;
    text-align: left;
    margin-bottom: 30px;
}
.blog button:hover {

    background-color:   #d8252f;
    border: solid 1px #d8252f;
    -webkit-transition-duration: 1s;


}




}