<div class="animated fadeIn">
<img class="header" src="../../../assets/baner33.png" alt="">

<div class="section">
    <div class="cont1">
        <div class="title">
            <img src="../../../assets/title-small-image.png" alt="">
            <h1>Blog</h1>
        </div>
        <div class="container">
            <div class="blog">
                <h2> Estamos lanzando nuestra nueva pagina web </h2>
                    <div class="img">
                        <img src="../../../assets/web.png" alt="">
                        <ul>
                            <li><i class="far fa-calendar-alt"></i> 28 de Marzo 2021</li>
                            <li><i class="fas fa-user"></i> Alejandro</li>
                            <li><i class="fas fa-comments"></i> 0 Comentario</li>
                        </ul>
                        </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a luctus justo. Nulla sed iaculis ipsum. Mauris
                    non
                    leo posuere, convallis ligula sit amet, ornare sem. Curabitur suscipit erat sit amet erat viverra, nec cursus
                    lacus
                    commodo.
            
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a luctus justo. Nulla sed iaculis ipsum. Mauris
                    non
                    leo posuere, convallis ligula sit amet, ornare sem. Curabitur suscipit erat sit amet erat viverra, nec cursus
                    lacus
                    commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a luctus justo. Nulla sed iaculis ipsum.
                    Mauris non leo posuere, convallis ligula sit amet, ornare sem. Curabitur suscipit erat sit amet erat viverra,
                    nec
                    cursus lacus commodo.</p>
                <div class="d-grid gap-2 col-2 mx-auto">
                    <button class="btn btn-dark" type="button">Articulo</button>
            
                </div>
            
            
            </div>
            
            <div class="separador">
            </div>
            <div class="blog">
                <h2> El nuevo sabor de las pizzas echas a la leña </h2>
                <div class="img">
                    <img src="../../../assets/lena.png" alt="">
                    <ul>
                        <li><i class="far fa-calendar-alt"></i> 28 de Marzo 2021</li>
                        <li><i class="fas fa-user"></i> Pedro</li>
                        <li><i class="fas fa-comments"></i> 3 Comentario</li>
                    </ul>
                    </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a luctus justo. Nulla sed iaculis ipsum. Mauris
                    non
                    leo posuere, convallis ligula sit amet, ornare sem. Curabitur suscipit erat sit amet erat viverra, nec cursus
                    lacus
                    commodo.
            
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a luctus justo. Nulla sed iaculis ipsum. Mauris
                    non
                    leo posuere, convallis ligula sit amet, ornare sem. Curabitur suscipit erat sit amet erat viverra, nec cursus
                    lacus
                    commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a luctus justo. Nulla sed iaculis ipsum.
                    Mauris non leo posuere, convallis ligula sit amet, ornare sem. Curabitur suscipit erat sit amet erat viverra,
                    nec
                    cursus lacus commodo.</p>
                <div class="d-grid gap-2 col-2 mx-auto">
                    <button class="btn btn-dark" type="button">Articulo</button>
            
                </div>
            
            
            
            </div>



        </div>




    </div>




</div>


</div>


<app-footer></app-footer>
