
.titulo {
    position: absolute;
    top: 260px;
    
}
.contenido{
    margin-left: 200px;
    font-weight: bold;
    color: white;
    
}
.pizza h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    color: #d8252f;
    
}

.contenido h1 {
    font-size: 120px;
    font-weight: bold;
    color: white;
    background-color: #d8252f;
    padding: 10px 20px 10px 20px;
    margin-left: 140px;
    text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
    font-family: 'Oswald', sans-serif;

}
.contenido h2 {
    font-size: 70px;
    font-weight: bold;
    color: white;
    margin-left: 70px;
    text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
    font-family: 'Oswald', sans-serif;

}
.contenido h3 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
    font-family: 'Oswald', sans-serif;


}
.contenido h4 {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    color: white;
    left: 356px;
    text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
    font-family: 'Oswald', sans-serif;


}
.img {
 
    animation: crescendo 20.5s infinite  ease-in;
    width: 100%;
   
      

}
.categorias ul li i {
    margin-right: 0px;
}

@keyframes crescendo {
    0%   {transform: scale(1.0);}
    100% {transform: scale(1.4);}
  }

  .pizzas {
      margin-top: 20px;
  }

  @media (max-width: 400px) {
      .pizza h1 {
          text-align: center;
          margin-top: 70px;
          font-family: 'Oswald', sans-serif;
          color: #d8252f;
          
      }

      
.titulo {
    position: absolute;
    top: 290px;
    
}
    .img {
        position: relative;
        height: 700px;
        left: -317px;
        width: auto;
        
        
    }

    .contenido{
        margin-left: 0px;
        font-weight: bold;
        color: white;
        
    }
    .contenido h1 {
        font-size: 30px;
        font-weight: bold;
        color: white;
        background-color: #d8252f;
        padding: 10px 20px 10px 20px;
        margin-left: 90px;
        text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
        font-family: 'Oswald', sans-serif;
    
    }
    .contenido h2 {
        font-size: 30px;
        font-weight: bold;
        color: white;
        margin-left: 70px;
        text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
        font-family: 'Oswald', sans-serif;
    
    }
    .contenido h3 {
        font-size: 30px;
        font-weight: bold;
        color: white;
        margin-left: 30px;
        text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
        font-family: 'Oswald', sans-serif;
    
    
    }
    .contenido h4 {
        position: relative;
        font-size: 30px;
        font-weight: bold;
        color: white;
        left: 130px;
        text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
        font-family: 'Oswald', sans-serif;
    
    
    }


  }


  .categorias ul   {
      list-style: none;
    
     display: flex;
     justify-content: center;
     align-items: center;
   
      
   
  }
  .categorias p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #6d6d6d;
    margin-bottom: 20px;

}
     
  
  .categorias ul li {
      color: #6d6d6d;
      font-family: 'Oswald', sans-serif;
      font-size: 12px; 
      display: inline-block;
      margin-right: 10px;

    
  }.categorias ul li i {
      margin-right: 6px;
  }
.categorias ul li a {

}
  .categorias ul li:hover {
      color: #b7903c;
      cursor: pointer;
  }

  @media (max-width: 700) {
    .categorias {
        display: flex;
        justify-content: center;
    }
    .pizza  {
        margin-top: 200px;
    }
  }

  @media only screen and (min-width: 900px) {

    .pizza h1 {
        text-align: center;
        margin-top:100px;
        margin-bottom: 78px;
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
        color: #d8252f;
        
    }
    .categorias ul {
        margin-bottom: 50px;
    }
    .categorias p {
        font-family: 'Oswald', sans-serif;
        text-align: center;
        font-size: 26px;
        color: #6d6d6d;
        margin-bottom: 20px;

    }
    .categorias ul li {
        color: #6d6d6d;
        font-family: 'Oswald', sans-serif;
        font-size: 25px; 
        display: inline-block;
        margin-right: 25px;
  
      
    }

  }

  .pizza .card {
      border: none;
  }
  .pizza .card img {
    border: none;
    background-color: turquoise;
    border-radius: 500px;
}
.card-body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.card-body h5 {
    color: #b7903c;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
}
.card-body p {
    font-size: 18px;

}
.card-body span {
    margin-top: 27px;
    margin-right: 10px;
    font-size: 18px;
}

@media only screen and (min-width: 400px) {
          
.titulo {
    position: absolute;
    top: 190px;
    
}


    .contenido{
        margin-left: 0px;
        font-weight: bold;
        color: white;
        margin-left: 150px;
        
    }
    .contenido h1 {
        font-size: 20px;
        font-weight: bold;
        color: white;
        background-color: #d8252f;
        padding: 10px 20px 10px 20px;
        margin-left: 90px;
        text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
        font-family: 'Oswald', sans-serif;
    
    }
    .contenido h2 {
        font-size: 20px;
        font-weight: bold;
        color: white;
        margin-left: 70px;
        text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
        font-family: 'Oswald', sans-serif;
    
    }
    .contenido h3 {
        font-size: 20px;
        font-weight: bold;
        color: white;
        margin-left: 30px;
        text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
        font-family: 'Oswald', sans-serif;
    
    
    }
    .contenido h4 {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        color: white;
        left: 130px;
        text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
        font-family: 'Oswald', sans-serif;
    
    
    }



}

@media only screen and (min-width: 1000px) {
         
    .titulo {
        position: absolute;
        top: 250px;
        
    }
    
    
        .contenido{
            margin-left: 30px;
            font-weight: bold;
            color: white;
            margin-left: 200px;
            
        }
        .pizza h1 {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 50px;
            font-family: 'Oswald', sans-serif;
            color: #d8252f;
            
        }
        
        .contenido h1 {
            font-size: 120px;
            font-weight: bold;
            color: white;
            background-color: #d8252f;
            padding: 10px 20px 10px 20px;
            margin-left: 140px;
            text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
            font-family: 'Oswald', sans-serif;
        
        }
        .contenido h2 {
            font-size: 70px;
            font-weight: bold;
            color: white;
            margin-left: 70px;
            text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
            font-family: 'Oswald', sans-serif;
        
        }
        .contenido h3 {
            font-size: 40px;
            font-weight: bold;
            color: white;
            text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
            font-family: 'Oswald', sans-serif;
        
        
        }
        .contenido h4 {
            position: relative;
            font-size: 40px;
            font-weight: bold;
            color: white;
            left: 356px;
            text-shadow: rgb(0 0 0 / 80%) 0px 2px 2px;
            font-family: 'Oswald', sans-serif;
        
        
        }
    
    

}
