<div class="home">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="8000">
                <img src="../../../assets/banner.jpg" class=" img d-block w-100" alt="...">

            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <img src="../../../assets/banner2.jpg" class=" img d-block w-100" alt="...">

            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="titulo">

        <div class="contenido">
            <h3>TENEMOS</h3>
            <h2>LA MEJOR</h2>
            <h1>PIZZA</h1>

            <h4>DE LA CIUDAD</h4>

        </div>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4 pizzas">
            <div class="col" *ngFor="let pizza of pizzas">
                <div class="card">
                    <img [src]="pizza.img" class="card-img-top" [alt]="pizza.nombre">
                    <div class="card-body">
                        <h5 class="card-title">{{ pizza.nombre }}</h5>
                        <p class="card-text">{{ pizza.descripcion}}.</p>
                        <h2>{{ pizza.precio }}</h2>
                        <span class="badge bg-primary">{{pizza.categoria1}}</span>
                        <span class="badge bg-primary">{{ pizza.categoria2 }}</span>
                        <span class="badge bg-primary">{{ pizza.categoria3 }}</span>
                    </div>
                </div>
            </div>
        
        
        
        </div>
    
    </div>

</div>
<app-footer></app-footer>