<div class="footer">
    <div class="container justify-content-center">
        <img src="../../../../assets/logo.png" class="" alt="">
        <div class="index">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Blog</a>
                </li>
            </ul>
        </div>

        <div class="descripcion">
            <p class="">Pastro pizza las mejores pizas de la ciudad, para amantes de la comida esquisita.</p>
        </div>
    </div>
</div>