<div class="footer">
    <div class="container justify-content-center">
        <img src="../../../../assets/logo.png" class="" alt="">
        <div class="index">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>

        <div class="">
            <p class="">The Don Peppe crew first and foremost values an authentic, freshly baked
                slice of pizza perfection</p>
        </div>
    </div>
</div>